{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
  <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
    <h2 class="text-center mb-3 text-primary">Set New Password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        {{ form.new_password1.label_tag }}
        <input type="password" name="{{ form.new_password1.name }}" class="form-control" id="{{ form.new_password1.id_for_label }}" placeholder="New password">
        {{ form.new_password1.errors }}
      </div>

      <div class="mb-3">
        {{ form.new_password2.label_tag }}
        <input type="password" name="{{ form.new_password2.name }}" class="form-control" id="{{ form.new_password2.id_for_label }}" placeholder="Confirm new password">
        {{ form.new_password2.errors }}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success w-100">Set Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}